.wrap-act-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-link-video {
    color: var(--primary-color);
    &:hover {
        text-decoration: underline;
    }
}
.btn-form {
    margin-right: 8px;
}
