.wrap-act-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-link-video {
    color: var(--primary-color);
    &:hover {
        text-decoration: underline;
    }
}
.wrapp-btn-modal {
    margin-right: 30px;
}
.wrapp-more-info {
    margin-left: 52px;
}
