USE [master]
GO
/****** Object:  Database [TicketEZ]    Script Date: 12/16/2023 8:09:02 PM ******/
CREATE DATABASE [TicketEZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketEZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketEZ.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketEZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TicketEZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketEZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketEZ]
GO
/****** Object:  Table [dbo].[Account_Lock_History]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Lock_History](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_type] [int] NOT NULL,
	[event_date] [datetime] NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Account_Lock_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[id] [nvarchar](20) NOT NULL,
	[phone] [nvarchar](15) NULL,
	[fullname] [nvarchar](100) NULL,
	[image] [nvarchar](max) NULL,
	[email] [nvarchar](350) NOT NULL,
	[address] [nvarchar](max) NULL,
	[password] [nvarchar](255) NOT NULL,
	[birthday] [date] NULL,
	[gender] [bit] NULL,
	[status] [int] NULL,
	[verified] [bit] NULL,
	[created_date] [datetime] NULL,
	[points] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts_Roles]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts_Roles](
	[account_id] [nvarchar](20) NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Accounts_Roles] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity_Logs]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity_Logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[time_stamp] [datetime] NOT NULL,
	[action] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[ip_address] [nvarchar](max) NOT NULL,
	[user_agent] [nvarchar](max) NOT NULL,
	[result] [nvarchar](50) NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
	[old_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_Activity_Logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[gender] [bit] NOT NULL,
	[birthday] [date] NOT NULL,
	[country] [nvarchar](150) NOT NULL,
	[avatar] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[biography] [nvarchar](max) NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors_Movies]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors_Movies](
	[actor_id] [bigint] NOT NULL,
	[movie_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Actors_Movies] PRIMARY KEY CLUSTERED 
(
	[actor_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[banner] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[create_date] [date] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles_Movies]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles_Movies](
	[movie_id] [bigint] NOT NULL,
	[article_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Article_Movies] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[article_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [nvarchar](10) NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[showtime_id] [bigint] NOT NULL,
	[status] [int] NOT NULL,
	[ticket_status] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema_Chains]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema_Chains](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[banner] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cinema_Chains] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema_Complex]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema_Complex](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[opening_time] [time](0) NOT NULL,
	[closing_time] [time](0) NOT NULL,
	[longitude] [float] NOT NULL,
	[latitude] [float] NOT NULL,
	[cinema_chain_id] [bigint] NOT NULL,
	[province_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Cinema_Complex] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema_Types]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema_Types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cinema_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinemas]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinemas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[cinema_type_id] [bigint] NOT NULL,
	[cinema_complex_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Cinemas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[gender] [bit] NOT NULL,
	[birthday] [date] NOT NULL,
	[country] [nvarchar](150) NOT NULL,
	[avatar] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[biography] [nvarchar](max) NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors_Movies]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors_Movies](
	[director_id] [bigint] NOT NULL,
	[movie_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Directors_Movies] PRIMARY KEY CLUSTERED 
(
	[director_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[coupon_code] [varchar](20) NOT NULL,
	[amount] [float] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[discount_type] [bit] NOT NULL,
	[cinema_complex_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts_Booking]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts_Booking](
	[discount_id] [bigint] NOT NULL,
	[booking_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Discounts_Booking] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC,
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[banner] [nvarchar](max) NOT NULL,
	[status] [bit] NOT NULL,
	[type_event] [int] NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events_Discounts]    Script Date: 12/16/2023 8:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events_Discounts](
	[event_id] [bigint] NOT NULL,
	[discount_id] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Formats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats_Movies]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats_Movies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[movie_id] [bigint] NOT NULL,
	[format_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Formats_Movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres_Movies]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres_Movies](
	[genre_id] [bigint] NOT NULL,
	[movie_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Genres_Movies] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC,
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[poster] [nvarchar](max) NOT NULL,
	[banner] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[duration] [time](0) NOT NULL,
	[release_date] [date] NOT NULL,
	[country] [nvarchar](150) NOT NULL,
	[rating] [float] NOT NULL,
	[video_trailer] [nvarchar](max) NOT NULL,
	[MPAA_rating_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies_Producers]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies_Producers](
	[movie_id] [bigint] NOT NULL,
	[producer_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Movies_Producers] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies_Studios]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies_Studios](
	[movie_id] [bigint] NOT NULL,
	[studio_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Movies_Studios] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[studio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPAA_Rating]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPAA_Rating](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rating_code] [nvarchar](10) NOT NULL,
	[icon] [nvarchar](max) NOT NULL,
	[color_code] [nvarchar](30) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MPAA_Rating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Info]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Info](
	[transaction_id] [nvarchar](20) NOT NULL,
	[tmn_code] [nvarchar](10) NOT NULL,
	[booking_id] [nvarchar](10) NOT NULL,
	[amount] [float] NOT NULL,
	[pay_date] [datetime] NOT NULL,
	[order_info] [nvarchar](100) NOT NULL,
	[bank_code] [nvarchar](25) NULL,
	[transaction_status] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Payment_Info] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[format_movie_id] [bigint] NOT NULL,
	[cinema_complex_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Seat_Types]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Seat_Types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[weekday_price] [float] NOT NULL,
	[weekend_price] [float] NOT NULL,
	[seat_type_id] [bigint] NOT NULL,
	[price_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Price_Seat_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Services]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[service_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Price_Services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[birthday] [date] NOT NULL,
	[nationality] [nvarchar](150) NOT NULL,
	[email] [nvarchar](350) NOT NULL,
	[biography] [nvarchar](max) NULL,
 CONSTRAINT [PK_Producers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [float] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[edit_date] [datetime] NULL,
	[account_id] [nvarchar](20) NOT NULL,
	[movie_id] [bigint] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Chart]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Chart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[rows] [int] NOT NULL,
	[columns] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[cinema_id] [bigint] NOT NULL,
 CONSTRAINT [PK_SeatChart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Types]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[nick_name] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[width] [int] NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Seat_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[status] [bit] NOT NULL,
	[description] [nvarchar](max) NULL,
	[seat_type_id] [bigint] NOT NULL,
	[seat_chart_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats_Booking]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats_Booking](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[seat_id] [bigint] NOT NULL,
	[booking_id] [nvarchar](10) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_Seats_Booking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats_Choose]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats_Choose](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[last_selected_time] [datetime] NULL,
	[seat_id] [bigint] NOT NULL,
	[showtime_id] [bigint] NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Seats_Choose] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Choose]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Choose](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [nvarchar](20) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_Service_Choose] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NOT NULL,
	[quantity] [int] NOT NULL,
	[cinema_complex_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services_Booking]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services_Booking](
	[booking_id] [nvarchar](10) NOT NULL,
	[service_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_Services_Booking] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[cinema_id] [bigint] NOT NULL,
	[format_movie_id] [bigint] NOT NULL,
	[seat_chart_id] [bigint] NOT NULL,
	[price_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Showtimes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studios]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[founded_date] [date] NOT NULL,
	[country] [nvarchar](150) NOT NULL,
	[email] [nvarchar](350) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[website] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Studios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verification]    Script Date: 12/16/2023 8:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [nvarchar](20) NULL,
	[code] [nvarchar](6) NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_Verification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account_Lock_History] ON 

INSERT [dbo].[Account_Lock_History] ([id], [event_type], [event_date], [reason], [account_id]) VALUES (1, 1, CAST(N'2023-12-16T16:52:18.947' AS DateTime), N'Bình luận tiêu cực.', N'dongnguyen')
INSERT [dbo].[Account_Lock_History] ([id], [event_type], [event_date], [reason], [account_id]) VALUES (2, 1, CAST(N'2023-12-16T16:52:42.803' AS DateTime), N'Người dùng đã đăng bình luận chứa thông tin xuyên tạc hoặc giả mạo.', N'hieu01')
SET IDENTITY_INSERT [dbo].[Account_Lock_History] OFF
GO
INSERT [dbo].[Accounts] ([id], [phone], [fullname], [image], [email], [address], [password], [birthday], [gender], [status], [verified], [created_date], [points]) VALUES (N'admin', N'0987654321', N'Nguyễn Văn A', N'image1.jpg', N'nguyen.va@gmail.com', N'123 Đường ABC, Quận 1, TP.HCM', N'admin', CAST(N'1990-01-15' AS Date), 1, 1, 1, CAST(N'2023-01-01T08:00:00.000' AS DateTime), 0)
INSERT [dbo].[Accounts] ([id], [phone], [fullname], [image], [email], [address], [password], [birthday], [gender], [status], [verified], [created_date], [points]) VALUES (N'admin01', N'0844457992', N'admin', N'a480eae8-382f-4e07-af9f-09d351b587a4_user.jpg', N'admin123@gmail.com', NULL, N'$2a$10$1nAbLCEE4i/zu.O.6UgwHu84wz5b6PGudB9TwscvHnHI/TAMePINy', NULL, 0, 1, 1, CAST(N'2023-12-09T16:44:17.837' AS DateTime), 0)
INSERT [dbo].[Accounts] ([id], [phone], [fullname], [image], [email], [address], [password], [birthday], [gender], [status], [verified], [created_date], [points]) VALUES (N'dongnguyen', N'0393618987', N'Nguyễn Nhựt Đông', NULL, N'0393618987dong@gmail.com', NULL, N'$2a$10$9uz9BLYJ3t517bCJv6W/H./ObCPtbjWyOZLt9gX3qaeNnyxZ35f4S', NULL, 1, 1, 1, CAST(N'2023-12-14T11:40:10.997' AS DateTime), 0)
GO
INSERT [dbo].[Accounts_Roles] ([account_id], [role_id]) VALUES (N'admin01', 1)
INSERT [dbo].[Accounts_Roles] ([account_id], [role_id]) VALUES (N'dongnguyen', 2)
INSERT [dbo].[Accounts_Roles] ([account_id], [role_id]) VALUES (N'hieu01', 2)
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (1, N'Phương Anh Đào', 1, CAST(N'1990-01-01' AS Date), N'VN', N'5958c6b6-7b7e-42f3-b433-65dec30563a1_-7783-1665297599.jpg', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
INSERT [dbo].[Actors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (2, N'Tuấn Trần', 0, CAST(N'1993-01-01' AS Date), N'VN', N'd1147faf-ec66-47b5-89df-3b35792e6a2d_tuan-tran-25-1585874183323120585721.webp', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
INSERT [dbo].[Actors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (3, N'Trấn Thành', 0, CAST(N'1989-01-01' AS Date), N'VN', N'c2e516b0-d122-459e-a8b5-c452de286979_tran-thanh-7-1291-16726478317832054742485.webp', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
INSERT [dbo].[Actors_Movies] ([actor_id], [movie_id]) VALUES (1, 2)
INSERT [dbo].[Actors_Movies] ([actor_id], [movie_id]) VALUES (1, 5)
INSERT [dbo].[Actors_Movies] ([actor_id], [movie_id]) VALUES (1, 8)
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([id], [title], [banner], [content], [status], [create_date]) VALUES (13, N'Top 5 bộ phim kinh dị năm 2023', N'a38f1e36-2dd0-4fdb-b911-e89c348fc276_25291146077975868-qu-cau-750_1698228057531.jpg', N'Những bộ phim kinh dị hay nhất năm 2023 được yêu thích nhất mà bạn có thể quan tâm và theo dõi', 1, CAST(N'2023-12-15' AS Date))
INSERT [dbo].[Articles] ([id], [title], [banner], [content], [status], [create_date]) VALUES (14, N'Danh sách 7 phim hoạt hình hay nhất năm 2023', N'ee55ca35-1165-4c54-9543-02e4fcadb909_maxresdefault (10).jpg', N'hãy cùng TicketEZ xem những bộ phim hoạt hình được cho là hay nhất năm 2023', 1, CAST(N'2023-12-14' AS Date))
INSERT [dbo].[Articles] ([id], [title], [banner], [content], [status], [create_date]) VALUES (15, N'Danh sách 6 bộ phim tình yêu của năm 2023', N'3788eb8d-7dc2-413f-bdea-758ea6909b48_maxresdefault (12).jpg', N'TicketEZ luôn mang đến cho bạn một không gian vô cùng thơ mộng cùng các bộ phim mà chúng tôi mang đến cho bạn  hãy cùng chìm đấm vào tình yêu qua những bộ phim', 1, CAST(N'2023-12-15' AS Date))
SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
INSERT [dbo].[Articles_Movies] ([movie_id], [article_id]) VALUES (1, 30)
INSERT [dbo].[Articles_Movies] ([movie_id], [article_id]) VALUES (2, 13)
INSERT [dbo].[Articles_Movies] ([movie_id], [article_id]) VALUES (2, 31)
GO
INSERT [dbo].[Booking] ([id], [account_id], [create_date], [showtime_id], [status], [ticket_status]) VALUES (N'1', N'user6', CAST(N'2022-01-01T12:00:00.000' AS DateTime), 1, 0, 0)
INSERT [dbo].[Booking] ([id], [account_id], [create_date], [showtime_id], [status], [ticket_status]) VALUES (N'10', N'user6', CAST(N'2022-02-10T20:15:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[Booking] ([id], [account_id], [create_date], [showtime_id], [status], [ticket_status]) VALUES (N'11', N'user6', CAST(N'2022-02-11T11:30:00.000' AS DateTime), 1, 0, 2)
GO
SET IDENTITY_INSERT [dbo].[Cinema_Chains] ON 

INSERT [dbo].[Cinema_Chains] ([id], [name], [image], [banner], [description]) VALUES (1, N'CGV', N'f7667212-0f32-4581-99bf-31e9c6ce442e_cgv.jpg', N'ad0a6aec-a10b-4867-9799-c56eb4b44a40_cj-cgv-mo-t-trong-nhu-ng-doanh-nghie-p-di-da-u-trong-vie-c-trie-n-khai-ho-a-don-die-n-tu-001.jpg', N'Rạp chiếu phim CGV - Mạng lưới rạp phim lớn tại Việt Nam.')
INSERT [dbo].[Cinema_Chains] ([id], [name], [image], [banner], [description]) VALUES (2, N'Lotte Cinema', N'lotte.jpg', N'lottebanner.jpg', N'Nhà mạng lưới rạp chiếu phim của Lotte tại Việt Nam.')
INSERT [dbo].[Cinema_Chains] ([id], [name], [image], [banner], [description]) VALUES (3, N'BHD Star Cineplex', N'76ec0fff-08b0-4749-8ef3-06868d5bb2ae_bhp.jpg', N'1a2fb28b-2e15-451e-a49b-5ac9ed480637_image2-1671509424.jpg', N'Nhà mạng lưới rạp BHD Star Cineplex tại Việt Nam.')
SET IDENTITY_INSERT [dbo].[Cinema_Chains] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema_Complex] ON 

INSERT [dbo].[Cinema_Complex] ([id], [name], [address], [phone], [opening_time], [closing_time], [longitude], [latitude], [cinema_chain_id], [province_id]) VALUES (1, N'Standard Cinema Complex', N'123 Park Street, Quận 1, Thành phố Hồ Chí Minh', N'0192949422', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), 106.67766713500747, 10.789879751872588, 1, 2)
INSERT [dbo].[Cinema_Complex] ([id], [name], [address], [phone], [opening_time], [closing_time], [longitude], [latitude], [cinema_chain_id], [province_id]) VALUES (2, N'3D Cinema Complex', N'CM tháng 8, Quận 12, Thành phố Hồ Chí Minh', N'0945586789', CAST(N'09:00:00' AS Time), CAST(N'23:00:00' AS Time), 108.46757489149324, 11.942648947844194, 2, 2)
INSERT [dbo].[Cinema_Complex] ([id], [name], [address], [phone], [opening_time], [closing_time], [longitude], [latitude], [cinema_chain_id], [province_id]) VALUES (3, N'IMAX Cinema Complex', N'Đường Võ Văn Kiệt, Bình Thủy, Cần Thơ', N'0111285634', CAST(N'07:00:00' AS Time), CAST(N'21:00:00' AS Time), 108.00538470578515, 12.683889984028019, 3, 5)
SET IDENTITY_INSERT [dbo].[Cinema_Complex] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinema_Types] ON 

INSERT [dbo].[Cinema_Types] ([id], [type_name], [description]) VALUES (1, N'Regular', N'Standard cinema with regular amenities.')
INSERT [dbo].[Cinema_Types] ([id], [type_name], [description]) VALUES (2, N'VIP', N'Luxury cinema with VIP services.')
INSERT [dbo].[Cinema_Types] ([id], [type_name], [description]) VALUES (3, N'3D', N'Cinema with 3D projection technology.')
SET IDENTITY_INSERT [dbo].[Cinema_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Cinemas] ON 

INSERT [dbo].[Cinemas] ([id], [name], [status], [cinema_type_id], [cinema_complex_id]) VALUES (1, N'Cinema 1 - Standard Cinema Complex ', 1, 1, 1)
INSERT [dbo].[Cinemas] ([id], [name], [status], [cinema_type_id], [cinema_complex_id]) VALUES (2, N'Cinema 2 - Standard Cinema Complex', 1, 3, 1)
INSERT [dbo].[Cinemas] ([id], [name], [status], [cinema_type_id], [cinema_complex_id]) VALUES (3, N'Cinema 1 - 3D Cinema Complex', 1, 7, 2)
SET IDENTITY_INSERT [dbo].[Cinemas] OFF
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (1, N'Đạo diễn Nhất Trung', 1, CAST(N'1980-05-15' AS Date), N'VN', N'4d927e8c-87a5-4e0a-8f34-e653b429f129_dao-dien-nhat-trung-984170.jpg', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
INSERT [dbo].[Directors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (2, N'Lê Văn Kiệt ', 0, CAST(N'1975-08-20' AS Date), N'VN', N'8fc99ae1-586a-446e-9bd8-2d7605711940_dao-dien-le-van-kiet-984171.jpg', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
INSERT [dbo].[Directors] ([id], [fullname], [gender], [birthday], [country], [avatar], [email], [biography]) VALUES (3, N'Victor Vũ', 1, CAST(N'1990-03-10' AS Date), N'VN', N'6c5bac41-78a4-4459-9849-a525d39f6f86_victo-vu-53540.jpg', N'email123@gmail.com', N'<p>Tiểu sửa</p>')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
INSERT [dbo].[Directors_Movies] ([director_id], [movie_id]) VALUES (1, 1)
INSERT [dbo].[Directors_Movies] ([director_id], [movie_id]) VALUES (1, 3)
INSERT [dbo].[Directors_Movies] ([director_id], [movie_id]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([id], [title], [coupon_code], [amount], [start_date], [end_date], [status], [discount_type], [cinema_complex_id]) VALUES (1, N'Discount 1', N'CODE001', 10, CAST(N'2023-10-05T00:00:00.000' AS DateTime), CAST(N'2023-10-15T23:59:59.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[Discounts] ([id], [title], [coupon_code], [amount], [start_date], [end_date], [status], [discount_type], [cinema_complex_id]) VALUES (2, N'Discount 2', N'CODE002', 15.5, CAST(N'2023-10-08T12:00:00.000' AS DateTime), CAST(N'2023-10-18T12:00:00.000' AS DateTime), 1, 0, 2)
INSERT [dbo].[Discounts] ([id], [title], [coupon_code], [amount], [start_date], [end_date], [status], [discount_type], [cinema_complex_id]) VALUES (3, N'Discount 3', N'CODE003', 5, CAST(N'2023-10-12T08:00:00.000' AS DateTime), CAST(N'2023-10-22T08:00:00.000' AS DateTime), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Formats] ON 

INSERT [dbo].[Formats] ([id], [name], [description]) VALUES (1, N'2D', N'Phim 2D thường được chiếu trên màn hình phẳng.')
INSERT [dbo].[Formats] ([id], [name], [description]) VALUES (2, N'3D', N'Phim 3D sử dụng công nghệ 3D để tạo ra hiệu ứng chiếu rộng hơn và chi tiết hơn.')
INSERT [dbo].[Formats] ([id], [name], [description]) VALUES (3, N'IMAX', N'Phim IMAX có hình ảnh và âm thanh tối ưu trên màn hình IMAX lớn.')
SET IDENTITY_INSERT [dbo].[Formats] OFF
GO
SET IDENTITY_INSERT [dbo].[Formats_Movies] ON 

INSERT [dbo].[Formats_Movies] ([id], [movie_id], [format_id]) VALUES (1, 1, 1)
INSERT [dbo].[Formats_Movies] ([id], [movie_id], [format_id]) VALUES (2, 1, 2)
INSERT [dbo].[Formats_Movies] ([id], [movie_id], [format_id]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[Formats_Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([id], [name], [description]) VALUES (1, N'Hành động', N'Phim hành động thường có nhiều cảnh hỗn loạn, võ thuật, và hành động kịch tính. Chúng thường xoay quanh các nhân vật chống lại kẻ thù hoặc giải quyết vấn đề bằng cách sử dụng bạo lực hoặc kỹ năng chiến đấu.')
INSERT [dbo].[Genres] ([id], [name], [description]) VALUES (2, N'Khoa học viễn tưởng', N'tập trung vào các khía cạnh khoa học, công nghệ, và tương lai.')
INSERT [dbo].[Genres] ([id], [name], [description]) VALUES (3, N'Phiêu lưu', N' Phim phiêu lưu thường kể về cuộc hành trình mạo hiểm của các nhân vật chống lại khó khăn và nguy hiểm. Chúng thường tập trung vào việc khám phá và khám phá thế giới')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[Genres_Movies] ([genre_id], [movie_id]) VALUES (1, 1)
INSERT [dbo].[Genres_Movies] ([genre_id], [movie_id]) VALUES (1, 2)
INSERT [dbo].[Genres_Movies] ([genre_id], [movie_id]) VALUES (1, 9)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
INSERT [dbo].[Movies_Producers] ([movie_id], [producer_id]) VALUES (1, 1)
INSERT [dbo].[Movies_Producers] ([movie_id], [producer_id]) VALUES (1, 2)
INSERT [dbo].[Movies_Producers] ([movie_id], [producer_id]) VALUES (2, 1)
GO
INSERT [dbo].[Movies_Studios] ([movie_id], [studio_id]) VALUES (1, 1)
INSERT [dbo].[Movies_Studios] ([movie_id], [studio_id]) VALUES (1, 2)
INSERT [dbo].[Movies_Studios] ([movie_id], [studio_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[MPAA_Rating] ON 

INSERT [dbo].[MPAA_Rating] ([id], [rating_code], [icon], [color_code], [description]) VALUES (1, N'G', N'26de6567-7ed2-4fb9-ba8b-290184abf8b7_RATED_G.svg.png', N'#1A5D1A', N'Phù hợp cho mọi đối tượng.')
INSERT [dbo].[MPAA_Rating] ([id], [rating_code], [icon], [color_code], [description]) VALUES (2, N'PG', N'93867fe9-e185-4214-b765-d95bff36a3a5_RATED_PG.svg.png', N'#7A9D54', N'Cần có sự hướng dẫn của cha mẹ hoặc người trưởng thành.')
INSERT [dbo].[MPAA_Rating] ([id], [rating_code], [icon], [color_code], [description]) VALUES (3, N'PG-13', N'325b8b73-4843-4cdf-b053-ae939ad08a22_RATED_PG-13.svg.png', N'#FF9B50', N'Không phù hợp cho trẻ dưới 13 tuổi.')
SET IDENTITY_INSERT [dbo].[MPAA_Rating] OFF
GO
INSERT [dbo].[Payment_Info] ([transaction_id], [tmn_code], [booking_id], [amount], [pay_date], [order_info], [bank_code], [transaction_status]) VALUES (N'14241765', N'TT7GVXVQ', N'169119893', 955000, CAST(N'2023-12-14T11:42:21.000' AS DateTime), N'Thanh toan ve xem phim ', N'NCB', N'00')
INSERT [dbo].[Payment_Info] ([transaction_id], [tmn_code], [booking_id], [amount], [pay_date], [order_info], [bank_code], [transaction_status]) VALUES (N'14244842', N'TT7GVXVQ', N'7425531041', 430000, CAST(N'2023-12-15T21:05:02.000' AS DateTime), N'Thanh toan ve xem phim ', N'NCB', N'00')
INSERT [dbo].[Payment_Info] ([transaction_id], [tmn_code], [booking_id], [amount], [pay_date], [order_info], [bank_code], [transaction_status]) VALUES (N'14244843', N'TT7GVXVQ', N'2659744188', 530000, CAST(N'2023-12-15T21:05:47.000' AS DateTime), N'Thanh toan ve xem phim ', N'NCB', N'00')
GO
SET IDENTITY_INSERT [dbo].[Price] ON 

INSERT [dbo].[Price] ([id], [start_date], [end_date], [status], [format_movie_id], [cinema_complex_id]) VALUES (1, CAST(N'2023-11-20T00:00:00.000' AS DateTime), CAST(N'2023-12-27T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[Price] ([id], [start_date], [end_date], [status], [format_movie_id], [cinema_complex_id]) VALUES (2, CAST(N'2023-11-20T00:00:00.000' AS DateTime), CAST(N'2023-12-27T00:00:00.000' AS DateTime), 1, 2, 1)
INSERT [dbo].[Price] ([id], [start_date], [end_date], [status], [format_movie_id], [cinema_complex_id]) VALUES (3, CAST(N'2023-11-20T00:00:00.000' AS DateTime), CAST(N'2023-12-27T00:00:00.000' AS DateTime), 1, 3, 2)
SET IDENTITY_INSERT [dbo].[Price] OFF
GO
SET IDENTITY_INSERT [dbo].[Price_Seat_Types] ON 

INSERT [dbo].[Price_Seat_Types] ([id], [weekday_price], [weekend_price], [seat_type_id], [price_id]) VALUES (1, 70000, 85000, 1, 1)
INSERT [dbo].[Price_Seat_Types] ([id], [weekday_price], [weekend_price], [seat_type_id], [price_id]) VALUES (2, 90000, 100000, 2, 1)
INSERT [dbo].[Price_Seat_Types] ([id], [weekday_price], [weekend_price], [seat_type_id], [price_id]) VALUES (3, 100000, 120000, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Price_Seat_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Price_Services] ON 

INSERT [dbo].[Price_Services] ([id], [price], [start_date], [end_date], [service_id]) VALUES (1, 50000, CAST(N'2023-12-05T00:00:00.000' AS DateTime), CAST(N'2023-12-29T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Price_Services] ([id], [price], [start_date], [end_date], [service_id]) VALUES (2, 100000, CAST(N'2023-10-05T00:00:00.000' AS DateTime), CAST(N'2023-12-29T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Price_Services] ([id], [price], [start_date], [end_date], [service_id]) VALUES (3, 20000, CAST(N'2023-10-05T00:00:00.000' AS DateTime), CAST(N'2023-12-29T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Price_Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([id], [name], [image], [birthday], [nationality], [email], [biography]) VALUES (1, N'Dolph Lundgren', N'99d6aa14-4374-4474-bb7b-69981db3960b_19910898958659758-fisJpm05tw6GCJ4v62TKBCoWuZM.jpg', CAST(N'1980-10-01' AS Date), N'Việt Nam', N'info@dienanhviet.vn', N'Nhà sản xuất phim Điện Ảnh Việt tại Việt Nam.')
INSERT [dbo].[Producers] ([id], [name], [image], [birthday], [nationality], [email], [biography]) VALUES (2, N'Jason Momoa', N'b01ae620-174b-47e9-85ae-13f28c52298c_19910895401807366-6dEFBpZH8C8OijsynkSajQT99Pb.jpg', CAST(N'1980-10-03' AS Date), N'Việt Nam', N'contact@phimtran.vn', N'Nhà sản xuất phim Trần tại Việt Nam.')
INSERT [dbo].[Producers] ([id], [name], [image], [birthday], [nationality], [email], [biography]) VALUES (3, N'Nicole Kidman', N'67bdc9d1-51fd-4e91-8109-c03406ee72b9_19910897744889451-cIbuK91Da9QS2gh43018CmRnx96.jpg', CAST(N'1980-12-11' AS Date), N'Việt Nam', N'contact@xuanphim.com', N'Nhà sản xuất phim Xuân Phim tại Việt Nam.')
SET IDENTITY_INSERT [dbo].[Producers] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([id], [name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[Provinces] ([id], [name]) VALUES (2, N'Hồ Chí Minh')
INSERT [dbo].[Provinces] ([id], [name]) VALUES (3, N'Hải Phòng')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (1, N'SUPER_ADMIN', N'Quyền cao nhất trong hệ thống.')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (2, N'USER', N'Người dùng thông thường')
INSERT [dbo].[Roles] ([id], [name], [description]) VALUES (3, N'MOVIE_MANAGEMENT_ADMIN', N'Quyền quản lý thông tin về phim')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Chart] ON 

INSERT [dbo].[Seat_Chart] ([id], [name], [rows], [columns], [status], [cinema_id]) VALUES (1, N'Sơ đồ 1', 10, 7, 1, 1)
SET IDENTITY_INSERT [dbo].[Seat_Chart] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Types] ON 

INSERT [dbo].[Seat_Types] ([id], [name], [nick_name], [color], [width], [image], [description]) VALUES (1, N'Ghế thường', N'normalSeat', N'#7C25CE', 1, N'normal.jpg', N'Loại ghế thông thường sử dụng cho tất cả khách hàng.')
INSERT [dbo].[Seat_Types] ([id], [name], [nick_name], [color], [width], [image], [description]) VALUES (2, N'Ghế VIP', N'vipSeat', N'#B32225', 1, N'vip.jpg', N'Loại ghế VIP dành cho các khách hàng có vé VIP.')
INSERT [dbo].[Seat_Types] ([id], [name], [nick_name], [color], [width], [image], [description]) VALUES (3, N'Ghế đôi', N'coupleSeat', N'#AD1859', 2, N'f491c4b0-e3c0-4316-b0bc-c56d3d62110a_coupelseat.jpg', N'Loại ghế đôi thích hợp cho các cặp đôi xem phim.')
SET IDENTITY_INSERT [dbo].[Seat_Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([id], [name], [status], [description], [seat_type_id], [seat_chart_id]) VALUES (1, N'A1', 1, N'Ghế thông thường', 1, 1)
INSERT [dbo].[Seats] ([id], [name], [status], [description], [seat_type_id], [seat_chart_id]) VALUES (2, N'A2', 1, N'Ghế VIP', 1, 1)
INSERT [dbo].[Seats] ([id], [name], [status], [description], [seat_type_id], [seat_chart_id]) VALUES (3, N'A3', 1, N'Ghế thông thường', 1, 1)
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats_Booking] ON 

INSERT [dbo].[Seats_Booking] ([id], [seat_id], [booking_id], [price]) VALUES (1, 1, N'1', 20.5)
INSERT [dbo].[Seats_Booking] ([id], [seat_id], [booking_id], [price]) VALUES (2, 2, N'1', 15.75)
INSERT [dbo].[Seats_Booking] ([id], [seat_id], [booking_id], [price]) VALUES (3, 3, N'1', 30)
SET IDENTITY_INSERT [dbo].[Seats_Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([id], [name], [description], [image], [quantity], [cinema_complex_id]) VALUES (1, N'My combo', N'1 bắp lớn + 1 nước siêu lớn. Nhận trong ngày xem phim', N'629267a7-be1e-48a1-957a-1e0a1468092a_z4950576540477_9db58322f1460ea785ca5b69dc1806ad.jpg', 22, 1)
INSERT [dbo].[Services] ([id], [name], [description], [image], [quantity], [cinema_complex_id]) VALUES (2, N'CGV Combo', N'1 bắp lớn + 2 nước siêu lớn. Nhận trong ngày xem phim', N'c65d518f-ed81-4794-a7c0-e186c32b7508_z4950576509600_065004f5c2538dc9972a9c3fdd78293e.jpg', 23, 1)
INSERT [dbo].[Services] ([id], [name], [description], [image], [quantity], [cinema_complex_id]) VALUES (3, N'SPECIAL DRINK FAMILY COMBO', N'04 nước pha chế vừa (nước trái cây xoài đào / trà sữa đường nâu / trà vải / milo ) + 02 bắp ngọt. Nhận trong ngày xem phim. 
	Chỉ thêm 5,000đ đổi sang nước lớn.
	Số lượng quà tặng có giới hạn', N'b7ae1a64-f010-4c91-8887-9b70f3e94a36_z4950576485710_97583816ac966be6d1ae9af30cfdc8ed.jpg', 30, 3)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
INSERT [dbo].[Services_Booking] ([booking_id], [service_id], [quantity], [price]) VALUES (N'169119893', 1, 5, 250000)
INSERT [dbo].[Services_Booking] ([booking_id], [service_id], [quantity], [price]) VALUES (N'169119893', 2, 4, 400000)
INSERT [dbo].[Services_Booking] ([booking_id], [service_id], [quantity], [price]) VALUES (N'169119893', 4, 7, 35000)
GO
SET IDENTITY_INSERT [dbo].[Showtimes] ON 

INSERT [dbo].[Showtimes] ([id], [start_time], [end_time], [cinema_id], [format_movie_id], [seat_chart_id], [price_id]) VALUES (1, CAST(N'2023-12-08T12:00:00.000' AS DateTime), CAST(N'2023-12-08T14:00:00.000' AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[Showtimes] ([id], [start_time], [end_time], [cinema_id], [format_movie_id], [seat_chart_id], [price_id]) VALUES (6, CAST(N'2023-12-18T15:00:00.000' AS DateTime), CAST(N'2023-12-18T17:00:00.000' AS DateTime), 1, 2, 1, 2)
INSERT [dbo].[Showtimes] ([id], [start_time], [end_time], [cinema_id], [format_movie_id], [seat_chart_id], [price_id]) VALUES (7, CAST(N'2023-12-15T18:00:00.000' AS DateTime), CAST(N'2023-12-15T20:00:00.000' AS DateTime), 1, 4, 1, 4)
SET IDENTITY_INSERT [dbo].[Showtimes] OFF
GO
SET IDENTITY_INSERT [dbo].[Studios] ON 

INSERT [dbo].[Studios] ([id], [name], [image], [founded_date], [country], [email], [address], [website], [description]) VALUES (1, N'Walt Disney Pictures', N'Walt-Disney.jpg', CAST(N'2003-02-01' AS Date), N'Hoa Kỳ', N'tuhieu@disney.com', N'Address1', N'website1', N'Studio sản xuất phim của Disney.')
INSERT [dbo].[Studios] ([id], [name], [image], [founded_date], [country], [email], [address], [website], [description]) VALUES (2, N'Warner Bros. Pictures', N'warner-bros.jpg', CAST(N'2003-02-01' AS Date), N'Hoa Kỳ', N'phungtuhieut@warnerbros.com', N'Address1', N'website1', N'Studio sản xuất phim của Warner Bros.')
INSERT [dbo].[Studios] ([id], [name], [image], [founded_date], [country], [email], [address], [website], [description]) VALUES (3, N'Paramount Pictures', N'Paramount-Pictures-logo.jpg', CAST(N'2003-02-01' AS Date), N'Canada', N'hieutuphung@paramount.com', N'Address1', N'website1', N'Studio sản xuất phim của Paramount.')
SET IDENTITY_INSERT [dbo].[Studios] OFF
GO
SET IDENTITY_INSERT [dbo].[Verification] ON 

INSERT [dbo].[Verification] ([id], [account_id], [code], [created_at], [expires_at], [active]) VALUES (1, N'dongnguyen', N'973364', CAST(N'2023-12-14T11:40:16.170' AS DateTime), CAST(N'2023-12-14T11:40:45.980' AS DateTime), 1)
INSERT [dbo].[Verification] ([id], [account_id], [code], [created_at], [expires_at], [active]) VALUES (2, N'hieu01', N'641297', CAST(N'2023-12-16T15:56:53.970' AS DateTime), CAST(N'2023-12-16T15:57:52.223' AS DateTime), 1)
INSERT [dbo].[Verification] ([id], [account_id], [code], [created_at], [expires_at], [active]) VALUES (3, N'nguyendong', N'291654', CAST(N'2023-12-16T16:18:31.297' AS DateTime), CAST(N'2023-12-16T16:19:15.237' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Verification] OFF
GO
ALTER TABLE [dbo].[Account_Lock_History]  WITH CHECK ADD  CONSTRAINT [FK_Account_Lock_History_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Account_Lock_History] CHECK CONSTRAINT [FK_Account_Lock_History_Accounts]
GO
ALTER TABLE [dbo].[Accounts_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Accounts_Roles] CHECK CONSTRAINT [FK_Accounts_Roles_Accounts]
GO
ALTER TABLE [dbo].[Accounts_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Accounts_Roles] CHECK CONSTRAINT [FK_Accounts_Roles_Roles]
GO
ALTER TABLE [dbo].[Activity_Logs]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Logs_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Activity_Logs] CHECK CONSTRAINT [FK_Activity_Logs_Accounts]
GO
ALTER TABLE [dbo].[Actors_Movies]  WITH CHECK ADD  CONSTRAINT [FK_ActorsMovies_Actors] FOREIGN KEY([actor_id])
REFERENCES [dbo].[Actors] ([id])
GO
ALTER TABLE [dbo].[Actors_Movies] CHECK CONSTRAINT [FK_ActorsMovies_Actors]
GO
ALTER TABLE [dbo].[Actors_Movies]  WITH CHECK ADD  CONSTRAINT [FK_ActorsMovies_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Actors_Movies] CHECK CONSTRAINT [FK_ActorsMovies_Movies]
GO
ALTER TABLE [dbo].[Articles_Movies]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Movies_Articles] FOREIGN KEY([article_id])
REFERENCES [dbo].[Articles] ([id])
GO
ALTER TABLE [dbo].[Articles_Movies] CHECK CONSTRAINT [FK_Articles_Movies_Articles]
GO
ALTER TABLE [dbo].[Articles_Movies]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Movies_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Articles_Movies] CHECK CONSTRAINT [FK_Articles_Movies_Movie]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Accounts]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Showtimes] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Showtimes]
GO
ALTER TABLE [dbo].[Cinema_Complex]  WITH CHECK ADD  CONSTRAINT [FK_CinemaComplex_Cinema_Chains] FOREIGN KEY([cinema_chain_id])
REFERENCES [dbo].[Cinema_Chains] ([id])
GO
ALTER TABLE [dbo].[Cinema_Complex] CHECK CONSTRAINT [FK_CinemaComplex_Cinema_Chains]
GO
ALTER TABLE [dbo].[Cinema_Complex]  WITH CHECK ADD  CONSTRAINT [FK_CinemaComplex_Provinces] FOREIGN KEY([province_id])
REFERENCES [dbo].[Provinces] ([id])
GO
ALTER TABLE [dbo].[Cinema_Complex] CHECK CONSTRAINT [FK_CinemaComplex_Provinces]
GO
ALTER TABLE [dbo].[Cinemas]  WITH CHECK ADD  CONSTRAINT [FK_Cinemas_Cinema_Types] FOREIGN KEY([cinema_type_id])
REFERENCES [dbo].[Cinema_Types] ([id])
GO
ALTER TABLE [dbo].[Cinemas] CHECK CONSTRAINT [FK_Cinemas_Cinema_Types]
GO
ALTER TABLE [dbo].[Cinemas]  WITH CHECK ADD  CONSTRAINT [FK_Cinemas_CinemaComplex] FOREIGN KEY([cinema_complex_id])
REFERENCES [dbo].[Cinema_Complex] ([id])
GO
ALTER TABLE [dbo].[Cinemas] CHECK CONSTRAINT [FK_Cinemas_CinemaComplex]
GO
ALTER TABLE [dbo].[Directors_Movies]  WITH CHECK ADD  CONSTRAINT [FK_DirectorMovies_Directors] FOREIGN KEY([director_id])
REFERENCES [dbo].[Directors] ([id])
GO
ALTER TABLE [dbo].[Directors_Movies] CHECK CONSTRAINT [FK_DirectorMovies_Directors]
GO
ALTER TABLE [dbo].[Directors_Movies]  WITH CHECK ADD  CONSTRAINT [FK_DirectorMovies_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Directors_Movies] CHECK CONSTRAINT [FK_DirectorMovies_Movies]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Cinema_Complex] FOREIGN KEY([cinema_complex_id])
REFERENCES [dbo].[Cinema_Complex] ([id])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discount_Cinema_Complex]
GO
ALTER TABLE [dbo].[Discounts_Booking]  WITH CHECK ADD  CONSTRAINT [FK_DiscountsBooking_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Discounts_Booking] CHECK CONSTRAINT [FK_DiscountsBooking_Booking]
GO
ALTER TABLE [dbo].[Discounts_Booking]  WITH CHECK ADD  CONSTRAINT [FK_DiscountsBooking_Discounts] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discounts] ([id])
GO
ALTER TABLE [dbo].[Discounts_Booking] CHECK CONSTRAINT [FK_DiscountsBooking_Discounts]
GO
ALTER TABLE [dbo].[Events_Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Events_Discounts_Discount] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discounts] ([id])
GO
ALTER TABLE [dbo].[Events_Discounts] CHECK CONSTRAINT [FK_Events_Discounts_Discount]
GO
ALTER TABLE [dbo].[Events_Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Events_Discounts_Events] FOREIGN KEY([event_id])
REFERENCES [dbo].[Events] ([id])
GO
ALTER TABLE [dbo].[Events_Discounts] CHECK CONSTRAINT [FK_Events_Discounts_Events]
GO
ALTER TABLE [dbo].[Formats_Movies]  WITH CHECK ADD  CONSTRAINT [FK_FormatsMovies_Formats] FOREIGN KEY([format_id])
REFERENCES [dbo].[Formats] ([id])
GO
ALTER TABLE [dbo].[Formats_Movies] CHECK CONSTRAINT [FK_FormatsMovies_Formats]
GO
ALTER TABLE [dbo].[Genres_Movies]  WITH CHECK ADD  CONSTRAINT [FK_Genres_Movies] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([id])
GO
ALTER TABLE [dbo].[Genres_Movies] CHECK CONSTRAINT [FK_Genres_Movies]
GO
ALTER TABLE [dbo].[Genres_Movies]  WITH CHECK ADD  CONSTRAINT [FK_GenresMovies_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Genres_Movies] CHECK CONSTRAINT [FK_GenresMovies_Movies]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_MPAArating] FOREIGN KEY([MPAA_rating_id])
REFERENCES [dbo].[MPAA_Rating] ([id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_MPAArating]
GO
ALTER TABLE [dbo].[Movies_Producers]  WITH CHECK ADD  CONSTRAINT [FK_MovieProducer_Producer] FOREIGN KEY([producer_id])
REFERENCES [dbo].[Producers] ([id])
GO
ALTER TABLE [dbo].[Movies_Producers] CHECK CONSTRAINT [FK_MovieProducer_Producer]
GO
ALTER TABLE [dbo].[Movies_Producers]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Producers_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Movies_Producers] CHECK CONSTRAINT [FK_Movies_Producers_Movie]
GO
ALTER TABLE [dbo].[Movies_Studios]  WITH CHECK ADD  CONSTRAINT [FK_MovieStudio_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Movies_Studios] CHECK CONSTRAINT [FK_MovieStudio_Movie]
GO
ALTER TABLE [dbo].[Movies_Studios]  WITH CHECK ADD  CONSTRAINT [FK_MovieStudios_Studio] FOREIGN KEY([studio_id])
REFERENCES [dbo].[Studios] ([id])
GO
ALTER TABLE [dbo].[Movies_Studios] CHECK CONSTRAINT [FK_MovieStudios_Studio]
GO
ALTER TABLE [dbo].[Payment_Info]  WITH CHECK ADD  CONSTRAINT [FK_PaymentInfo_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Payment_Info] CHECK CONSTRAINT [FK_PaymentInfo_Booking]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_CinemaComplex] FOREIGN KEY([cinema_complex_id])
REFERENCES [dbo].[Cinema_Complex] ([id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_CinemaComplex]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [FK_Price_FormatMovies] FOREIGN KEY([format_movie_id])
REFERENCES [dbo].[Formats_Movies] ([id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [FK_Price_FormatMovies]
GO
ALTER TABLE [dbo].[Price_Seat_Types]  WITH CHECK ADD  CONSTRAINT [FK_Price_Seat_Types_price] FOREIGN KEY([price_id])
REFERENCES [dbo].[Price] ([id])
GO
ALTER TABLE [dbo].[Price_Seat_Types] CHECK CONSTRAINT [FK_Price_Seat_Types_price]
GO
ALTER TABLE [dbo].[Price_Seat_Types]  WITH CHECK ADD  CONSTRAINT [FK_Price_Seat_Types_Seat_Type] FOREIGN KEY([seat_type_id])
REFERENCES [dbo].[Seat_Types] ([id])
GO
ALTER TABLE [dbo].[Price_Seat_Types] CHECK CONSTRAINT [FK_Price_Seat_Types_Seat_Type]
GO
ALTER TABLE [dbo].[Price_Services]  WITH CHECK ADD  CONSTRAINT [FK_PriceService_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[Price_Services] CHECK CONSTRAINT [FK_PriceService_Service]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Accounts]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Movies]
GO
ALTER TABLE [dbo].[Seat_Chart]  WITH CHECK ADD  CONSTRAINT [FK_SeatChart_Cinemas] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinemas] ([id])
GO
ALTER TABLE [dbo].[Seat_Chart] CHECK CONSTRAINT [FK_SeatChart_Cinemas]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_SeatChart] FOREIGN KEY([seat_chart_id])
REFERENCES [dbo].[Seat_Chart] ([id])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_SeatChart]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_SeatTypes] FOREIGN KEY([seat_type_id])
REFERENCES [dbo].[Seat_Types] ([id])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_SeatTypes]
GO
ALTER TABLE [dbo].[Seats_Booking]  WITH CHECK ADD  CONSTRAINT [FK_SeatsBooking_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Seats_Booking] CHECK CONSTRAINT [FK_SeatsBooking_Booking]
GO
ALTER TABLE [dbo].[Seats_Booking]  WITH CHECK ADD  CONSTRAINT [FK_SeatsBooking_Seats] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seats] ([id])
GO
ALTER TABLE [dbo].[Seats_Booking] CHECK CONSTRAINT [FK_SeatsBooking_Seats]
GO
ALTER TABLE [dbo].[Seats_Choose]  WITH CHECK ADD  CONSTRAINT [FK_Choose_Seat_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Seats_Choose] CHECK CONSTRAINT [FK_Choose_Seat_Account]
GO
ALTER TABLE [dbo].[Seats_Choose]  WITH CHECK ADD  CONSTRAINT [FK_Choose_Seat_showtime] FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([id])
GO
ALTER TABLE [dbo].[Seats_Choose] CHECK CONSTRAINT [FK_Choose_Seat_showtime]
GO
ALTER TABLE [dbo].[Seats_Choose]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Choose_Seat] FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seats] ([id])
GO
ALTER TABLE [dbo].[Seats_Choose] CHECK CONSTRAINT [FK_Seats_Choose_Seat]
GO
ALTER TABLE [dbo].[Service_Choose]  WITH CHECK ADD  CONSTRAINT [FK_Service_Choose_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Service_Choose] CHECK CONSTRAINT [FK_Service_Choose_Account]
GO
ALTER TABLE [dbo].[Service_Choose]  WITH CHECK ADD  CONSTRAINT [FK_Service_Choose_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[Service_Choose] CHECK CONSTRAINT [FK_Service_Choose_Service]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Service_Cinema_Complex] FOREIGN KEY([cinema_complex_id])
REFERENCES [dbo].[Cinema_Complex] ([id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Service_Cinema_Complex]
GO
ALTER TABLE [dbo].[Services_Booking]  WITH CHECK ADD  CONSTRAINT [FK_ServicesBooking_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Services_Booking] CHECK CONSTRAINT [FK_ServicesBooking_Booking]
GO
ALTER TABLE [dbo].[Services_Booking]  WITH CHECK ADD  CONSTRAINT [FK_ServicesBooking_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
GO
ALTER TABLE [dbo].[Services_Booking] CHECK CONSTRAINT [FK_ServicesBooking_Services]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Cinema] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[Cinemas] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Cinema]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_FormatMovies] FOREIGN KEY([format_movie_id])
REFERENCES [dbo].[Formats_Movies] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_FormatMovies]
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK_Showtimes_Price] FOREIGN KEY([price_id])
REFERENCES [dbo].[Price] ([id])
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK_Showtimes_Price]
GO
ALTER TABLE [dbo].[Verification]  WITH CHECK ADD  CONSTRAINT [FK_Verification_Accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([id])
GO
ALTER TABLE [dbo].[Verification] CHECK CONSTRAINT [FK_Verification_Accounts]
GO
USE [master]
GO
