.the-loai-phim {
    font-size: 13px;
    line-height: 16.25px;
    text-align: start;
    text-decoration: none solid rgb(0, 0, 0);
    word-spacing: 0px;
    font-weight: 300 !important;
    font-family: var(--font-family) !important;

    .span:not(:last-child)::after {
        content: ', ';
    }
}