.title-right {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}
.title-right:hover{
      color: #D82D8B;
}

.img-right {
    border-radius: 5px;
}
.name-right {
    text-align: left;
    color: #d82d8b;
}
.right {
    border-left: 0.5px solid #b3aeae;
    height: 400px;
}
