.table-cell-center tbody tr td {
    text-align: center;
    vertical-align: middle;
}
.border-img {
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-img > .img {
    width: 32px !important;
}
.img-Movie {
    width: 45px !important;
    height: 50px !important;
    border-radius: 3px;
}
.text-end {
    float: right;
    color: gray;
}
.suat-chieu {
    display: flex;
    max-height: 430px;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}
.btn-suat-chieu {
    border-color: #38bdf8;
    color: #0284c7;
    font-size: 13px;
  
    &:hover {
        color: #0d9dde;
    }

    .gio-bat-dau {
        font-weight: 600;

        &::after {
            content: '~';
            padding: 0px 5px;
            font-weight: 400;
        }
    }

    .gio-ket-thuc {
        font-size: 11.5px;
    }
}
