.Loai-rap-col {
    height: 92.8px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
    margin: 2px 0;

    &::-webkit-scrollbar {
        width: 10px;
        height: 8px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;

        background: #555;
    }
}

.wrapper {
    // background-color: aqua;
    display: flex;
    align-items: center;
    height: 72px;
    margin: 0 10px 0 10px;
    gap: 5px;
}

.container {
    width: 64px;
    height: 100%;
    // background-color: red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.border {
    width: 48px;
    height: 48px;
    // background-color: antiquewhite;
    border-radius: 0.5rem;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    .img{
        width: 38px;
        height: 38px;
    }
}

.title {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(115 115 115 / var(--tw-text-opacity));

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 62px;
}

.active {
    cursor: default;
    .border {
        border-color:var(--primary--text-color) !important;
    }

    .title {
        font-weight: 600;
        color: var(--primary--text-color);
        // --tw-text-opacity: 1;
        // color: rgb(235 47 150 / var(--tw-text-opacity));
    }
}

