:root {
    --ViTri--color-and-border-color: #d82d8b;
    --ViTri--color-btn--second: #262626;
    --ViTri--color-d4d4d4: #d4d4d4;

    --ViTri-color-footer-btn: #f6e6f0;
    --ViTri-background-color-footer-btn: #c0177c;
}
