.card {
    background-color: rgb(145, 142, 142);
}
.screen {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    width: 60%;
    height: 10px;
}
.screen-title {
    color: lightblue;
    text-align: center;
}

.col-right-radioBox-btn, .container-tag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tag{
    margin-top: 30px;
}

.tagg{
    padding: 10px 25px;
}


.custom-btn {



    .btn {
        width: 100%;
    }
}
