// .title {
//     font-family: 'Quicksand', sans-serif;
//     font-size: 1.6rem;
//     line-height: 1.5;
//     text-rendering: optimizeSpeed;
// }
.wrap-act-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapp-pagination {
    display: flex;
    justify-content: end;
    padding: 20px 0px 5px 0px;
}
