// Profile.module.scss

.profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; // Assuming a white background
  border-radius: 8px; // Adjust border-radius to match your design preference
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Simple shadow for a card effect

  .ant-form-item-label {
    label {
      color: #333; // Dark color for text
      font-size: 14px; // Adjust the font size as needed
    }
  }

  .ant-form-item {
    margin-bottom: 16px; // Spacing between form items

    .ant-form-text {
      color: #666; // Lighter color for non-editable text
    }

    .ant-input {
      border-radius: 4px; // Border radius for input fields
      // Additional styles for the input can be placed here
    }

    .ant-radio-group {
      .ant-radio-wrapper {
        margin-right: 20px; // Space between radio buttons

        .ant-radio {
          // Style the radio buttons as needed
        }

        span {
          color: #333; // Text color for the radio buttons
          font-size: 14px; // Font size for radio buttons
        }
      }
    }
  }

  .ant-btn {
    height: 40px; // Example button height
    line-height: 38px; // Centers the text vertically in the button
    padding: 0 20px; // Horizontal padding for button text
    border-radius: 4px; // Button border radius

    &.ant-btn-default {
      background-color: #f5f5f5; // Background color for the default button
      border: 1px solid #d9d9d9; // Border color for the default button
      color: #333; // Text color for the default button
      margin-right: 8px; // Spacing between buttons
    }

    &.ant-btn-primary {
      background-color: #ff4d4f; // Use your primary color here
      border-color: #ff4d4f; // Border color for the primary button
      color: #fff; // Text color for the primary button
    }
  }
}
