$bg-color: #ffffff;
$text-color-gray: rgb(132, 132, 132);
$text-color-black: #161616;
$bg-ticket: #fff0f5;
.wrapper {
    all: initial;
    // line-height: 1.6rem;

    .container {
        background-color: $bg-color;
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
}
.wrapper-box-status,
.wrapper-ticket-details {
    width: 420px;
    min-height: 200px;
    // padding: 10px;
}
.wrapper-box-status {
    background-color: #fff;
    border-radius: 4px;
    // display: inline-block;
    text-align: left;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-ticket-details {
    margin-left: 10px;
}

.wrapper-ticket.light {
    background-color: #fff;
    color: $text-color-black;
}
