#wrapper-booking-history {
    all: initial;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .wrapper-tabs {
        background-color: #fff;
        width: 90%;
        padding: 40px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}
